<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.weixin.db.mysql.manager.OpenidMobileMapper" >
  <resultMap id="BaseResultMap" type="com.dream.weixin.db.mysql.entity.OpenidMobile" >
    <id column="mobile_open_id" property="mobileOpenId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="mo_create_time" property="moCreateTime" jdbcType="TIMESTAMP" />
    <result column="mo_update_time" property="moUpdateTime" jdbcType="TIMESTAMP" />
    <result column="mo_status" property="moStatus" jdbcType="CHAR" />
    <result column="mo_type" property="moType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mobile_open_id, mobile, openid, mo_create_time, mo_update_time, mo_status, mo_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sdb_b2c_openid_mobile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sdb_b2c_openid_mobile
    where mobile_open_id = #{mobileOpenId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sdb_b2c_openid_mobile
    where mobile_open_id = #{mobileOpenId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobileExample" >
    delete from sdb_b2c_openid_mobile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobile" >
    <selectKey resultType="java.lang.Integer" keyProperty="mobileOpenId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sdb_b2c_openid_mobile (mobile, openid, mo_create_time, 
      mo_update_time, mo_status, mo_type
      )
    values (#{mobile,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{moCreateTime,jdbcType=TIMESTAMP}, 
      #{moUpdateTime,jdbcType=TIMESTAMP}, #{moStatus,jdbcType=CHAR}, #{moType,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobile" >
    <selectKey resultType="java.lang.Integer" keyProperty="mobileOpenId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sdb_b2c_openid_mobile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="moCreateTime != null" >
        mo_create_time,
      </if>
      <if test="moUpdateTime != null" >
        mo_update_time,
      </if>
      <if test="moStatus != null" >
        mo_status,
      </if>
      <if test="moType != null" >
        mo_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="moCreateTime != null" >
        #{moCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moUpdateTime != null" >
        #{moUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moStatus != null" >
        #{moStatus,jdbcType=CHAR},
      </if>
      <if test="moType != null" >
        #{moType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobileExample" resultType="java.lang.Integer" >
    select count(*) from sdb_b2c_openid_mobile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sdb_b2c_openid_mobile
    <set >
      <if test="record.mobileOpenId != null" >
        mobile_open_id = #{record.mobileOpenId,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.moCreateTime != null" >
        mo_create_time = #{record.moCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.moUpdateTime != null" >
        mo_update_time = #{record.moUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.moStatus != null" >
        mo_status = #{record.moStatus,jdbcType=CHAR},
      </if>
      <if test="record.moType != null" >
        mo_type = #{record.moType,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sdb_b2c_openid_mobile
    set mobile_open_id = #{record.mobileOpenId,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      mo_create_time = #{record.moCreateTime,jdbcType=TIMESTAMP},
      mo_update_time = #{record.moUpdateTime,jdbcType=TIMESTAMP},
      mo_status = #{record.moStatus,jdbcType=CHAR},
      mo_type = #{record.moType,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobile" >
    update sdb_b2c_openid_mobile
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="moCreateTime != null" >
        mo_create_time = #{moCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moUpdateTime != null" >
        mo_update_time = #{moUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moStatus != null" >
        mo_status = #{moStatus,jdbcType=CHAR},
      </if>
      <if test="moType != null" >
        mo_type = #{moType,jdbcType=CHAR},
      </if>
    </set>
    where mobile_open_id = #{mobileOpenId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.weixin.db.mysql.entity.OpenidMobile" >
    update sdb_b2c_openid_mobile
    set mobile = #{mobile,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      mo_create_time = #{moCreateTime,jdbcType=TIMESTAMP},
      mo_update_time = #{moUpdateTime,jdbcType=TIMESTAMP},
      mo_status = #{moStatus,jdbcType=CHAR},
      mo_type = #{moType,jdbcType=CHAR}
    where mobile_open_id = #{mobileOpenId,jdbcType=INTEGER}
  </update>
</mapper>