<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakala.emall.weixin.db.mysql.manager.SmsMapper" >
  <resultMap id="BaseResultMap" type="com.lakala.emall.weixin.db.mysql.entity.Sms" >
    <id column="sms_id" property="smsId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="invalid_time" property="invalidTime" jdbcType="TIMESTAMP" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="send_status" property="sendStatus" jdbcType="CHAR" />
    <result column="verify_code" property="verifyCode" jdbcType="CHAR" />
    <result column="sms_status" property="smsStatus" jdbcType="CHAR" />
    <result column="other_one" property="otherOne" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sms_id, mobile, create_time, invalid_time, send_time, send_status, verify_code, sms_status, 
    other_one
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lakala.emall.weixin.db.mysql.entity.SmsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sdb_b2c_sms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sdb_b2c_sms
    where sms_id = #{smsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sdb_b2c_sms
    where sms_id = #{smsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lakala.emall.weixin.db.mysql.entity.SmsExample" >
    delete from sdb_b2c_sms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lakala.emall.weixin.db.mysql.entity.Sms" >
    <selectKey resultType="java.lang.Integer" keyProperty="smsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sdb_b2c_sms (mobile, create_time, invalid_time, 
      send_time, send_status, verify_code, 
      sms_status, other_one)
    values (#{mobile,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{sendStatus,jdbcType=CHAR}, #{verifyCode,jdbcType=CHAR}, 
      #{smsStatus,jdbcType=CHAR}, #{otherOne,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lakala.emall.weixin.db.mysql.entity.Sms" >
    <selectKey resultType="java.lang.Integer" keyProperty="smsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sdb_b2c_sms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="invalidTime != null" >
        invalid_time,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="verifyCode != null" >
        verify_code,
      </if>
      <if test="smsStatus != null" >
        sms_status,
      </if>
      <if test="otherOne != null" >
        other_one,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null" >
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=CHAR},
      </if>
      <if test="verifyCode != null" >
        #{verifyCode,jdbcType=CHAR},
      </if>
      <if test="smsStatus != null" >
        #{smsStatus,jdbcType=CHAR},
      </if>
      <if test="otherOne != null" >
        #{otherOne,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lakala.emall.weixin.db.mysql.entity.SmsExample" resultType="java.lang.Integer" >
    select count(*) from sdb_b2c_sms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sdb_b2c_sms
    <set >
      <if test="record.smsId != null" >
        sms_id = #{record.smsId,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invalidTime != null" >
        invalid_time = #{record.invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendStatus != null" >
        send_status = #{record.sendStatus,jdbcType=CHAR},
      </if>
      <if test="record.verifyCode != null" >
        verify_code = #{record.verifyCode,jdbcType=CHAR},
      </if>
      <if test="record.smsStatus != null" >
        sms_status = #{record.smsStatus,jdbcType=CHAR},
      </if>
      <if test="record.otherOne != null" >
        other_one = #{record.otherOne,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sdb_b2c_sms
    set sms_id = #{record.smsId,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      invalid_time = #{record.invalidTime,jdbcType=TIMESTAMP},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      send_status = #{record.sendStatus,jdbcType=CHAR},
      verify_code = #{record.verifyCode,jdbcType=CHAR},
      sms_status = #{record.smsStatus,jdbcType=CHAR},
      other_one = #{record.otherOne,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lakala.emall.weixin.db.mysql.entity.Sms" >
    update sdb_b2c_sms
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null" >
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=CHAR},
      </if>
      <if test="verifyCode != null" >
        verify_code = #{verifyCode,jdbcType=CHAR},
      </if>
      <if test="smsStatus != null" >
        sms_status = #{smsStatus,jdbcType=CHAR},
      </if>
      <if test="otherOne != null" >
        other_one = #{otherOne,jdbcType=VARCHAR},
      </if>
    </set>
    where sms_id = #{smsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lakala.emall.weixin.db.mysql.entity.Sms" >
    update sdb_b2c_sms
    set mobile = #{mobile,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      send_status = #{sendStatus,jdbcType=CHAR},
      verify_code = #{verifyCode,jdbcType=CHAR},
      sms_status = #{smsStatus,jdbcType=CHAR},
      other_one = #{otherOne,jdbcType=VARCHAR}
    where sms_id = #{smsId,jdbcType=INTEGER}
  </update>
</mapper>